import(ggplot2)
import(tidyverse)
import(ggthemes)
import(lubridate)
import(rio)
import(xtable)
importFrom("utils", "capture.output")
exportPattern("^[[:alpha:]]+")
export(amatheme)
export(nice_tab)
export(export_fig_ama)
export(export_tab_ama)
